body {
  background-color: #ffe680;
  color: whitesmoke;
  font-family: Josefin Slab;
  font-style: Semi-bold 600 italic;
  margin: 50px;
}
h1 {
  font-size: 80px;
  color: white;
}
h2 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
}
p {
  font-size: 22px;
  letter-spacing: .5px;
  margin-top: 0;
}
a {
  text-decoration: none; /* this gets rid of the default underline */
}
a:link {
  color: tomato;
}
a:visited {
  color: dodgerblue;
  /* color: #49af9e;
  color: rgb(3,43,250); */
}
a:hover {
  color: whitesmoke;
}
a:active {
  color: whitesmoke;
}
