* {
  box-sizing: border-box;
}
@-ms-viewport{
  width: device-width;
}
html {
 font-size: 16px;
}
body {
  background-color: palevioletred;
  font-family: Josefin Slab;
}
header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
}
.exercise {
  margin: 0;
  background-color: white;
  } /*@media screen and (max-width; 1000px)
  body {
    background-color: lightpink
  }
  img {
    max-width: 100%;
  }*/

h1{
  text-transform: uppercase;
  letter-spacing: 1px
  text-align: left;
  font-size: 4rem;
  font-family: Josefin Slab;
  font-weight: 700;
}
h2{
 font-size: 2rem;
 text-align: left;
 font-family: Josefin Slab;
 font-weight: 700;
}
ul {
  list-style-type: none;
  font-size: 22px;
  letter-spacing: .5px;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 15px;
  font-size: 2rem;
  text-align: left;
}
a {
  text-decoration: none; /* this gets rid of the default underline */
}
a:link {
  color: maroon;
}
a:visited {
  color: skyblue;
}
a:hover {
  color: floralwhite;
}
a:active {
  color: whitesmoke;
}
@media screen and (max-width: 961px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  h1 {
    font-size: 3rem;
  }
}
