body {
  background-color: peru;
  font-size: 50px;
  font-family: VT323;
  color: black;
  margin: 100px;
}
h1 {
  font-size: 90px;
  font-family: VT323;
  color: papayawhip;
}
h2 {
  font-size: 50px;
  font-family: VT323;
  color: black;
}
p {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
}
a {
  text-decoration: none; /* this gets rid of the default underline */
}
a:link {
  color: darkred;
}
a:visited {
  color: midnightblue;
}
a:hover {
  color: cornsilk;
}
a:active {
  color: whitesmoke;
}
