body {
  background-color: #E9E7E4;
  font-family: 'Libre Baskerville';
  font-style: regular 400;
}
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 65px;
  letter-spacing: 5px;
  color: #532C1F;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 25px;
}
h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  letter-spacing: 5px;
  color: #8E5441;
  margin-left: 50px;
  margin-bottom: 50px;
}
h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  color: #B47A63;
  margin-left: 50px;
  margin-bottom: 50px;
}
h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  color: #B89789;
  margin-left: 50px;
  margin-bottom: 50px;
}
h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  letter-spacing: 2px;
  color: peru;
  margin-left: 50px;
}
ul li {
  margin-left: 125px;
}
p {
  font-size: 16px;
  letter-spacing: 5px;
  margin-left: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: midnightblue;
}
#contrast {
  color: peru;
}
