body {
  background-color:
}
.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 400px;
}
.head {
  position: absolute;
  background-color: #6E4000;
  top: 30px;
  left: -40px;
  width: 200px;
  height: 180px;
  border-radius: 50%;
  transform: rotate(10deg)   /*border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;*/
}
.ear {
  position: absolute;
  background-color: #6E4000;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 60px;
  border-radius: 240% 220% 70% 220%;
}
.ear_right {
  position: absolute;
  background-color: #6E4000;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 60px;
  border-radius: 200% 220% 220% 200%;
}
.inner {
  position: absolute;
  background-color: #402602;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.inner_right {
  position: absolute;
  background-color: #402602;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.eye {
  position: absolute;
  top: 40px;
  left: 40px;
  background: black;
  width: 15px;
  height: 15px;
  border-radius: 180%;
}
.eye_right {
  position: absolute;
  top: 40px;
  right: 40px;
  background: black;
  width: 15px;
  height: 15px;
  border-radius: 180%;
}
.mouth_container {
  position: absolute;
  background-color: #F7E3BA;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 70px;
  border-radius: 90%;
  transform: rotate(10deg)
}
.nose {
  position: absolute;
  top: 0px;
  left: 0px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid black;
  border-radius: 50%;
}
.line1, .line2, .line3 {
  position: absolute;
  background-color: black;
  width: 3px;
}
.line1 {
  top: 0px;
  left: 0px;
  height: 12px;
}
.line2 {
  top: 0px;
  left: 0px;
  height: 17px;
  transform: rotate(35deg)
}
.line3 {
  top: 0px;
  left: 0px;
  height: 10px;
  transform: rotate(-35deg)
}
.body {
  position: absolute;
  background-color: #6E4000;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 250px;
  border-radius: 50%;
}
.boat {
  position: absolute;
  background-color: #FADD23;
  top: 400px;
  width: 600px;
  height: 150px;
}
