* {
  box-sizing: border-box;
}
body {
  background-color: #7DDAFF;
  margin: 0;
}
.container {
  position: relative;
}
.head {
  position: absolute;
  background-color: #6E4000;
  top: 80px;
  left: 500px;
  width: 200px;
  height: 180px;
  border-radius: 50%;
  transform: rotate(10deg);   /*border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;*/
}
.ear {
  position: absolute;
  background-color: #6E4000;
  top: -15px;
  left: 10px;
  width: 70px;
  height: 60px;
  border-radius: 240% 220% 70% 220%;
}
.ear_right {
  position: absolute;
  background-color: #6E4000;
  top: -15px;
  right: 10px;
  width: 70px;
  height: 60px;
  border-radius: 200% 220% 220% 200%;
}
.inner {
  position: absolute;
  background-color: #402602;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.inner_right {
  position: absolute;
  background-color: #402602;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-top-left-radius: 180%;
  border-top-right-radius: 180%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.eye {
  position: absolute;
  top: 80px;
  left: 80px;
  background: black;
  width: 15px;
  height: 15px;
  border-radius: 180%;
}
.eye_right {
  position: absolute;
  top: 80px;
  right: 80px;
  background: black;
  width: 15px;
  height: 15px;
  border-radius: 180%;
}
.mouth {
  position: absolute;
  background-color: #F7E3BA;
  top: 110px;
  left: -47px;
  width: 50px;
  height: 65px;
  border-radius: 90%;
  transform: rotate(5deg);
}
.nose {
  position: absolute;
  top: 120px;
  left: -35px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid black;
  border-radius: 40%;
  transform: rotate(5deg);
}
.line1, .line2, .line3 {
  position: absolute;
  background-color: black;
  width: 3px;
}
.line1 {
  top: 130px;
  left: -25px;
  height: 12px;
  transform: rotate(5deg);
}
.line2 {
  top: 140px;
  left: -30px;
  height: 17px;
  transform: rotate(35deg);
}
.line3 {
  top: 142px;
  left: -22px;
  height: 10px;
  transform: rotate(-35deg);
}
.body {
  position: absolute;
  background-color: #6E4000;
  top: 240px;
  left: 518px;
  width: 160px;
  height: 180px;
  border-radius: 45%;
}
