* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
  background-color: #D0AE75;
  text-align: center;
  margin: 0px;
  line-height: 40px;
  line-spacing: 15px;
}
header {
  font-family: 'Playfair Display', serif;
  color: black;
  background-color: #FFFDED;
  /*display: flow-root;
  padding: 10px 50px; */
}
nav {
  text-align: right;
  margin: 0px;
}
.border {
  width: 1600px;
  height: 75px;
}
.green {
  background-color: #1FAD1A;
  float: left;
  width: 500px;
  height: 75px;
}
.white {
  background-color: white;
  float: left;
  width: 500px;
  height: 75px;
}
.red {
  background-color: #E61B1B;
  float: left;
  width: 500px;
  height: 75px;
}
h2 {
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
}
h3 {
  font-family: 'Playfair Display', serif;
  color: black;
  text-align: center;
}
h4 {

}
h5{

}
  /*#menu {
    font-family: 'Roboto', sans-serif;
    font-weight: Medium 500;
    font-size: 30px;
    color: black;
    float: left;
    text-align: left;
}*/
footer {
  background-color: #817650;
  font-family: 'Roboto', sans-serif;
  font-weight: Bold 700;
  font-size: 30px;
  color: white;
  height: 200px
  text-align: center;
}
img {
  max-width: 100%;
}
ul {
  margin: 20px;
  padding: 5px;
  float: left;
}
li {
  float: left;
  display: inline;
}
li a {
  padding: 8px;
}
a {
  text-decoration: none; /* this gets rid of the default underline */
  font-family: 'Playfair Display', serif;
  color: black;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: red;
}
.active {
  background-color: #009933;
}
.hero {
  background: url(images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
