* {
  box-sizing: border-box;
}
@-ms-viewport{
  width: device-width;
}
@media only screen and (max-width: 2000px) {
  .hero {
    padding: 50px 50px;
  }
  #menu .hero, .hero2, {
    padding: 50px 50px;
  }
  .img {
    max-width: 100%
  }
  #about .img{
    max-width: 100%;
    height: auto;
  }
  #menu .img{
    max-width: 100%;
    height: auto;
  }
}
/*  header {
    position: relative;
  }*/
/*  @media only screen and (max-width: 350px) {
   header{
     position: fixed;
   }
  }
  .post {
    margin: 0;
  }*/
body {
  background-color: #FFFDED;
  /*background-color: #D0AE75;*/
  margin: auto;
}
header {
  background-color: #D0AE75;
  display: flow-root;
  padding: 10px 50px;
  position: relative;
}
h1 a, h1 a:link, h1 a:visited {
  color: black;
  text-decoration: none;
}
h1 a, h1 a:hover, h1 a:active {
  color: white;
}
nav {
  float: right;
  margin: 15px;
}
nav a, nav a:link, nav a:visited {
  text-transform: lowercase;
  text-decoration: none;
  color: black;
}
nav a, nav a:hover, nav a:active {
  color: white;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin-left: 25px;
}
#home .hero {
  background: url(../images/pasta1.2.jpg) no-repeat center center;
  background-size: cover;
  padding: 250px 100px;
}
#home .hero h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 10rem;
  letter-spacing: 15px;
  margin-bottom: 25px;
  text-align: center;
  color: whitesmoke;
}
.blog {
  display: flow-root;
  width: 100vw;
  margin: 10px auto;
  padding: 10px auto;
  text-align: center;
}
.blog img {
  max-width: 100%;
}
.post {
  /*width: calc(50% - 12.5px);*/
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  /*background-color: yellow;*/
}
.post h2{
  font-family: 'fino-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 70px;
}
.post p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: px;
  color: black;
  text-align: center;
  line-height: 25px;
}
.link {
  padding: 15px 10px;
  margin-bottom: 50px;
  /*background-color: orange;*/
  text-align: center;
}
 p a, p a:link, p a:visited{
  font-size: 30px;
  color: #817650;
}
p a, p a:hover, p a:active {
    color: black;
}
.img {
  max-width: 100%;
}
  /*#menu {
    font-family: 'Roboto', sans-serif;
    font-weight: Medium 500;
    font-size: 30px;
    color: black;
    float: left;
    text-align: left;
}*/

}
footer {
  width: 100%;
  height: 300px;
  background-color: #817650;
}
footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}
/*font-family: fino-sans, sans-serif;
font-weight: 400;
font-style: normal;*/

#menu .hero{
  background: url(../images/restaurant_interior.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 250px 100px;
}
#menu .hero2{
  background: url(../images/cakes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 250px 100px;
}
/*#menu .hero3{
  background: url(../images/coffee.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 250px 100px;
}
#menu .hero4{
  background: url(../images/pizza2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 250px 100px;
}*/
#menu h1 {
 font-family: 'Open Sans Condensed', sans-serif;
 font-weight: 300;
 font-size: 10rem;
 letter-spacing: 15px;
 margin-bottom: 25px;
 text-align: center;
 color: whitesmoke;

}
#menu h2{
  font-family: 'fino sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: black;
  text-align: left;
  line-height: 35px;
  text-decoration: underline;
}
#menu h3{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: black;
  text-align: left;
  line-height: 40px;
}
#menu p{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: black;
  text-align: left;
  line-height: 25px;
}
#menu .column{
  max-width: 100%;
  height: 700px;
  width: 90vw;
  float: left;
  margin: auto;
  /*margin-left: 60px;*/
  padding: 10px 10px;
}
#menu .section{
  max-width: 100%;
  height: 700px;
  float: left;
  margin: 30px;
  padding: 20px 20px;
  display: flow-root;
}
#menu .part{
  /*width: 100%;
  height: auto;*/
  display: flow-root;
  width: 100vw;
  margin: 10px auto;
  padding: 10px auto;
  text-align: center;
}
#menu main{
  display: flow-root;
}
#menu .part img{
  max-width: 100%;
}
#menu .part h1{
  top: auto;
  left: 0;
  width: 100%;
}
#menu .break{
 margin: 20px;
 padding: 50px;
}
@media screen and (max-width: 1900px) {
  #menu .column {
    width: 100%;
    margin-bottom: 50px;
  }
}
#events .hero {
  background: url(../images/person.jpg) no-repeat center center;
  background-size: cover;
  padding: 250px 100px;
}
#events .hero2 {
  background: url(../images/people2.jpg) no-repeat center center;
  background-size: cover;
  padding: 250px 100px;
}
#events h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 10rem;
  letter-spacing: 15px;
  margin-bottom: 25px;
  text-align: center;
  color: whitesmoke;
}
#events h2{
  font-family: 'fino-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
 #events .break{
  text-align: center;
  margin: 100px;
  margin-bottom: 250px;
  padding: 50px;
}
#events .paragraph p{
  font-family: 'Roboto', sans-serif;
  font-weight: Light 300;
  font-size: 16px;
  color: black;
  text-align: left;
  line-height: 25px;
}
#events .paragraph, .contact {
  margin: 20px;
  padding: 10px;
}
#about h2{
  font-family: 'fino-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
